header{
    display: grid;
    position: relative;
    place-content: center;
    min-height: 100vh;
}
video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}
h1{
    color: white;
    font-size: 40px;
    z-index: 1;
}
header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);

}
button{
    position: absolute;
    left: 7%;
    bottom: 7%;
    width: 7rem;
    z-index: 1;
}
